@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Visit us at our address:<br />
    Southern African Computer Lecturer’s Association (SACLA)<br />
    School of Computer Science and Information Systems<br />
    North-West University<br />
    11 Hoffman Street<br />
    Potchefstroom<br />
    2531<br />
</address>

<address>
    Or send us a post:<br />
    Southern African Computer Lecturer’s Association (SACLA)
    School of Computer Science and Information Systems
    Private Bag X6001
    Potchefstroom
    2520
</address>

<address>
    <strong>For enquiries:</strong>
    <strong>Email:</strong>   <a href="mailto:sacla@sacla.com">sacla@sacla.com</a><br />
</address>