@{
    ViewBag.Title = "Sacla - Home";
}

<div class="jumbotron">
    <h1>SACLA Conference paper Management System</h1>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to SACLA</h2>
        <p>
            SACLA (the Southern African Computer Lecturers’ Association) is a formal association of academics, involved in education, lecturing and teaching of Computer Science (CS),
            Information Systems (IS) and related Information Technology (IT) subjects at universities and other Higher Education Institutions throughout Southern Africa.  
            The main activity of SACLA is an annual conference, at which issues relating to CS, IS and IT education, teaching and research in Southern Africa are presented and discussed.<br />
            <a class="btn btn-default" href="http://www.sacla.org.za/index.php/about/">See definition. &raquo;</a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Visit our news page to find out what is happening.</p>
        <p><a class="btn btn-default" href="https://localhost:44352/Home/News">See latest news &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Give us a call or drop us an email to find out more about upcoming conferences and workshops.</p>
        <p><a class="btn btn-default" href="https://localhost:44352/Home/Contact">See contact details &raquo;</a></p>
    </div>
</div>